<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>CodelessCrypto</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} " />

	<!-- Owl Carousel -->
	<link type="text/css" rel="stylesheet" href=" {% static 'css/owl.carousel.css' %} " />
	<link type="text/css" rel="stylesheet" href=" {% static 'css/Automation.css' %} " />

	<link type="text/css" rel="stylesheet" href=" {% static 'css/owl.theme.default.css' %} " />

	<!-- Magnific Popup -->
	<link type="text/css" rel="stylesheet" href=" {% static 'css/magnific-popup.css' %} " />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href=" {% static 'css/font-awesome.min.css' %} ">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href=" {% static 'css/style.css' %} " />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img"
			style="background-image: url('https://preview.redd.it/0bb6dqsiab451.gif?s=b0c65596a54a30708da26669da6e79abf3be1680');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href=" {% static 'index.html' %} ">
							<img class="logo" src=" {% static 'img/logo-alt.png' %} " alt="logo">
							<img class="logo-alt" src=" {% static 'img/logo-alt.png' %} " alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>

				</div>


				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="/home">Home</a></li>
					<li><a href="/home">About</a></li>

					<li><a href="home">Team</a></li>
					<li class="has-dropdown"><a>NoCode</a>
						<ul class="dropdown">
							<li><a href="/add"> Create Page</a></li>
							<li><a href="/view_pages"> View templates</a></li>
						</ul>
					</li>
					<li class="has-dropdown"><a>Playground</a>
						<ul class="dropdown">
							<li><a href="/automation"> Automation</a></li>
						</ul>
					</li>
					<li class="has-dropdown"><a>Blog</a>
						<ul class="dropdown">
							<li><a href="/blog_edit"> Create Blog</a></li>
							<li><a href="/list_edit_blog"> Edit Blogs</a></li>
							<li><a href="/list_blog"> list Blogs</a></li>
						</ul>
					</li>

					<li class="has-dropdown"><a>Edit</a>
						<ul class="dropdown">
							<li><a href="/edits"> Edit HTML</a></li>
							<li><a href="/url"> URL</a></li>
							<li><a href="/autogenerate">Auto Generate</a></li>
						</ul>
					</li>

					<li class="has-dropdown"><a>Additional</a>
						<ul class="dropdown">
							<li><a href="/Code_scriping"> Code Writer</a></li>
							<li><a href="/Error_Solver"> Error Solver</a></li>
						</ul>
					</li>

					</li>
					<li><a href=" {% static '#contact' %} ">MarketPlace</a></li>
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<br><br>

		<div class="ABC text-center">
			<h2 class="title">Edit HTML
			</h2>
		</div>
		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<div style="text-align: center;">
					<form action="/automation" method="post">
						{% csrf_token %}
						<textarea rows="60" name="text_area" id="text_area" cols="80"
							placeholder="Enter the Code"></textarea>
				</div><br>
				<button class="white-btn">Edit</button>
				</form>
			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->



		<!-- jQuery Plugins -->

		<script type="text/javascript" src=" {% static 'js/jquery.min.js' %} "></script>
		<script type="text/javascript" src=" {% static 'js/bootstrap.min.js' %} "></script>
		<script type="text/javascript" src=" {% static 'js/owl.carousel.min.js' %} "></script>
		<script type="text/javascript" src=" {% static 'js/jquery.magnific-popup.js' %} "></script>
		<script type="text/javascript" src=" {% static 'js/main.js' %} "></script>
	</header>
</body>

</html>