<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Nocode Tool</title>

    <!-- Favicon -->
    <link rel="icon" href=" {% static 'img/core-img/favicon.ico' %} ">

    <!-- Stylesheet -->
    <link rel="stylesheet" href=" {% static 'style.css' %} ">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

   

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url( {% static 'img/bg-img/8.jpg' %} );">
        <div class="container-fluid h-100" style="display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        align-content: center;
        flex-direction: column;">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Feature Area Start ##### -->
    <section class="pixel-feature-area d-flex flex-wrap">
        <!-- Feature Thumbnail -->
        <div class="feature-thumbnail bg-img jarallax" style="background-image: url( {% static 'img/bg-img/12.jpg' %} );"></div>

        <!-- Feature Content -->
        <div class="feature-content">
            <h1>Nocode Tool</h1>
            <p>We are team No Coder. We developed the platform NoCode which is helps to No-code tools are software platforms or applications that allow users to build and create functional software applications, websites, or other digital solutions without the need for traditional programming or coding skills. These tools typically feature intuitive visual interfaces, drag-and-drop functionality, and pre-built components or templates that enable users to design, develop, and deploy applications with minimal technical knowledge.
                No-code tools provide a simplified development experience, making it accessible to a broader audience, including entrepreneurs, designers, business professionals, and individuals with limited coding expertise. These tools abstract complex coding processes, enabling users to focus on the visual and functional aspects of their projects.</p>
            <a href="#" class="btn pixel-btn mt-15">CONTINUE READING</a>
        </div>
    </section>
    <!-- ##### Feature Area End ##### -->

    <!-- ##### Feature Area Start ##### -->
    <section class="pixel-feature-area d-flex flex-wrap">
        <!-- Feature Content -->
        <div class="feature-content">
            <h1>Our Teem Hive Coders</h1>
            <p>"Unleashing Innovation through the Language of Code: Our Team's Collective Brilliance"</p>
            <a href="#" class="btn pixel-btn mt-15">CONTINUE READING</a>
        </div>

        <!-- Feature Thumbnail -->
        <div class="feature-thumbnail bg-img jarallax" style="background-image: url( {% static 'img/bg-img/13.jpg' %} );"></div>
    </section>
    <!-- ##### Feature Area End ##### -->

    <!-- ##### Cool Facts Area Start ##### -->
    <section class="pixel-cool-facts-area bg-gray section-padding-100-0">
        <div class="container-fluid">
            <div class="row">

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100">
                        <div class="scf-icon">
                            <img src=" {% static 'img/core-img/m1.png' %} " alt="">
                        </div>
                        <div class="scf-text">
                            <h2><span class="counter">3.451</span></h2>
                            <h6>Projects Completed</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100">
                        <div class="scf-icon">
                            <img src=" {% static 'img/core-img/m2.png' %} " alt="">
                        </div>
                        <div class="scf-text">
                            <h2><span class="counter">235.025</span></h2>
                            <h6>PSD Files</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100">
                        <div class="scf-icon">
                            <img src=" {% static 'img/core-img/m3.png' %} " alt="">
                        </div>
                        <div class="scf-text">
                            <h2><span class="counter">4021</span></h2>
                            <h6>Presentations Made</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100">
                        <div class="scf-icon">
                            <img src=" {% static 'img/core-img/m4.png' %} " alt="">
                        </div>
                        <div class="scf-text">
                            <h2><span class="counter">11.236</span></h2>
                            <h6>Deadlines Achived</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Cool Facts Area End ##### -->

    <!-- ##### Team Area Start ##### -->
    <section class="team-member-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2>Hive Coder Team</h2>
                        <img class="mb-30" src=" {% static 'img/core-img/x.png' %} " alt="">
                        <p>"Unlocking Boundless Possibilities: Where Passionate Minds Code the Future Together".</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Team Member -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-team-member mb-100">
                        <img src=" {% static 'img/bg-img/65.jpg' %} " alt="">
                        <!-- Hover Text -->
                        <div class="hover-text d-flex align-items-end justify-content-center text-center">
                            <div class="hover--">
                                <h4>Nagi Pragalathan</h4>
                                <h6>Backend Developer</h6>
                                <div class="social-info">
                                    <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-team-member mb-100">
                        <img src=" {% static 'img/bg-img/63.jpg' %} " alt="">
                        <!-- Hover Text -->
                        <div class="hover-text d-flex align-items-end justify-content-center text-center">
                            <div class="hover--">
                                <h4>Ganesh</h4>
                                <h6>Frontend Developer</h6>
                                <div class="social-info">
                                    <a href="https://github.com/GaneshMumbai2001"><i class="fa fa-github" aria-hidden="true"></i></a>
                                    <a href="https://www.linkedin.com/in/ganesh-mumbai-b863a3203"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a href="https://twitter.com/ganesh__mumbai?t=JwSmlCKf5RWpAcMI3IB3zA&s=09"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="https://instagram.com/ganeshmumbaiofficial?igshid=NTc4MTIwNjQ2YQ=="><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="https://www.facebook.com/ganesh.mumbai.12?mibextid=ZbWKwL"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-team-member mb-100">
                        <img src=" {% static 'img/bg-img/64.jpg' %} " alt="">
                        <!-- Hover Text -->
                        <div class="hover-text d-flex align-items-end justify-content-center text-center">
                            <div class="hover--">
                                <h4>Sanjay</h4>
                                <h6>Designer</h6>
                                <div class="social-info">
                                    <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-team-member mb-100">
                        <img src=" {% static 'img/bg-img/67.jpg' %} " alt="">
                        <!-- Hover Text -->
                        <div class="hover-text d-flex align-items-end justify-content-center text-center">
                            <div class="hover--">
                                <h4>Kalpana</h4>
                                <h6>Content Developer</h6>
                                <div class="social-info">
                                    <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Team Area End ##### -->

    <!-- ##### Testimonial Area Start ##### -->
    <section class="testimonial-area mb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Testimonial Slides -->
                    <div class="testimonial-slides owl-carousel">

                        <!-- Single Slide -->
                        <div class="single-testimonial-slide">
                            <img src=" {% static 'img/bg-img/61.jpg' %} " alt="">
                            <h4>Nagi Pragalathan</h4>
                            <span>Backend Developer</span>
                            <h5>"Building the foundations of seamless functionality"</h5>
                        </div>

                        <!-- Single Slide -->
                        <div class="single-testimonial-slide">
                            <img src=" {% static 'img/bg-img/62.jpg' %} " alt="">
                            <h4>Ganesh</h4>
                            <span>Frontend Developer</span>
                            <h5>"Crafting Engaging User Experiences with Frontend Wizardry"</h5>
                        </div>

                        <!-- Single Slide -->
                        <div class="single-testimonial-slide">
                            <img src=" {% static 'img/bg-img/60.jpg' %} " alt="">
                            <h4>Sanjay</h4>
                            <span>Designer</span>
                            <h5>"Bringing Imagination to Life through Design"</h5>
                        </div>

                        <!-- Single Slide -->
                        <div class="single-testimonial-slide">
                            <img src=" {% static 'img/bg-img/66.jpg' %} " alt="">
                            <h4>Kalpana</h4>
                            <span>Content Developer</span>
                            <h5>"Creating Content That Inspires and Delights"</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Testimonial Area End ##### -->

    {% endblock %}