<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Nocode Tool</title>

    <!-- Favicon -->
    <link rel="icon" href=" {% static 'img/core-img/favicon.ico' %} ">
 {% comment %} ==================================================================================================== {% endcomment %}
 <link rel="stylesheet" href=" {% static 'css/chat.css' %} ">
 <link rel="stylesheet" href=" {% static 'css/home.css' %} ">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% comment %} =============================================================================================================================== {% endcomment %}
    <!-- Stylesheet -->
    <link rel="stylesheet" href=" {% static 'style.css' %} ">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="pixel-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container-fluid">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="pixelNav">

                        <!-- Nav brand -->
                        <a href=" {% static 'index.html' %} " class="nav-brand"><img src=" {% static 'img/core-img/logo.png' %} " alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href=" {% url 'home' %} ">Home</a></li>
                                    <li><a href=" {% url 'about' %} ">About</a></li>
                                    <li><a href=" {% url 'services' %} ">Services</a></li>
                                    <li><a >Features</a>
                                        <ul class="dropdown">
                                            <li><a href=" {% url 'home' %} ">Home</a></li>
                                            <li><a>Dowmload Temp</a>
                                                <ul class="dropdown">
                                                    <li><a href=" {% url 'url' %} ">From Url</a></li>
                                                    <li><a href=" {% url 'autogenerate' %} ">Auto Gen</a></li>
                                                </ul>
                                            </li>

                                            <li><a href=" {% url 'services' %} ">Nocode</a>
                                                <ul class="dropdown">
                                                    <li><a href=" {% url 'addpage' %} ">Create</a></li>
                                                    <li><a href=" {% url 'view_pages' %} ">List</a></li>
                                                    <li><a href=" {% url 'view_pages' %} ">Manage</a></li>
                                                </ul>
                                            </li>
                                            <li><a>Blogs</a>
                                                <ul class="dropdown">
                                                    <li><a href=" {% url 'blog_edit' %} ">Create</a></li>
                                                    <li><a href=" {% url 'list_blog' %} ">List</a></li>
                                                    <li><a href=" {% url 'list_edit_blog' %} ">Manage</a></li>
                                                </ul>
                                            </li>
                                            <li><a href=" {% url 'contact' %} ">Admin</a></li>
                                            <li><a>Code Snippers</a>
                                                <ul class="dropdown">
                                                    <li><a href=" {% url 'Code_scriping' %} ">Code Generator</a></li>
                                                    <li><a href=" {% url 'Error_Solver' %} ">Error Solver</a></li>
                                                </ul>
                                            </li>
                                        </ul>
    
                                    <li><a href=" {% url 'contact' %} ">Contact</a></li>
                                </ul>

                                <!-- Top Social Info -->
                                <div class="top-social-info ml-5">
                                    <a href="https://github.com/GaneshMumbai2001"><i class="fa fa-github"></i></a>
                                    <a href="https://www.linkedin.com/in/ganesh-mumbai-b863a3203"><i class="fa fa-linkedin"></i></a>
                                    <a href="https://twitter.com/ganesh__mumbai?t=JwSmlCKf5RWpAcMI3IB3zA&s=09"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.facebook.com/ganesh.mumbai.12?mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a>
                                    <a href="https://instagram.com/ganeshmumbaiofficial?igshid=NTc4MTIwNjQ2YQ=="><i class="fa fa-instagram"></i></a>
                                    <a href="https://wa.me/+916383328121"><i class="fa fa-whatsapp"></i></a>
                                </div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->


    {% block content %}
    {% endblock %}


<!-- ##### Footer Area Start ##### -->
<footer class="footer-area section-padding-100-0">
    <div class="container-fluid">
        <div class="row justify-content-between">

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-footer-widget mb-100">
                    <!-- Footer Logo -->
                    <a href=" {% static 'index.html' %} " class="footer-logo"><img src=" {% static 'img/core-img/logo.png' %} " alt=""></a>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-md-9 col-lg-8 col-xl-7">
                <div class="row">
                    <!-- Single Footer Widget -->
                    <div class="col-sm-4">
                        <div class="single-footer-widget mb-100">
                            <h5 class="widget-title">Address</h5>
                            <p>Jaya Engineering College<br>Thiruninravur,Chennai</p>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-sm-4">
                        <div class="single-footer-widget mb-100">
                            <h5 class="widget-title">Support</h5>
                            <p><i class="fa fa-phone"></i> <br>6383328121</p>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-sm-4">
                        <div class="single-footer-widget mb-100">
                            <h5 class="widget-title">Social</h5>
                            <div class="footer-social-info">
                                <a href="https://github.com/GaneshMumbai2001"><i class="fa fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/ganesh-mumbai-b863a3203"><i class="fa fa-linkedin"></i></a>
                                <a href="https://twitter.com/ganesh__mumbai?t=JwSmlCKf5RWpAcMI3IB3zA&s=09"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/ganesh.mumbai.12?mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a>
                                <a href="https://instagram.com/ganeshmumbaiofficial?igshid=NTc4MTIwNjQ2YQ=="><i class="fa fa-instagram"></i></a>
                                <a href="https://wa.me/+916383328121"><i class="fa fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="copywrite-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="copywrite-content">
                        <!-- Copywrite Text -->
                        <p class="copywrite-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved @ganeshmumbai</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About us</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                
                            <li><a href="{% url 'about' %}">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="chat-bar-collapsible">
    <button id="chat-button" type="button" class="collapsible">Chat with us!
        <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
    </button>

    <div class="content">
        <div class="full-chat-block" style="width:100%;">
            <!-- Message Container -->
            <div class="outer-container">
                <div class="chat-container">
                    <!-- Messages -->
                    <div id="chatbox">
                        <h5 id="chat-timestamp"></h5>
                        <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                    </div>

                    <!-- User input box -->
                    <div class="chat-bar-input-block">
                        <div id="userInput">
                            <input id="textInput" class="input-box" type="text" name="msg"
                                placeholder="Tap 'Enter' to send a message">
                            <p></p>
                        </div>

                        <div class="chat-bar-icons">
                            <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart"
                                onclick="heartButton()"></i>
                            <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                                onclick="sendButton()"></i>
                        </div>
                    </div>

                    <div id="chat-bar-bottom">
                        <p></p>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
        <!-- CHAT BAR BLOCK -->
          {% comment %} >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Bot>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> {% endcomment %}
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src=" {% static 'scripts/responses.js' %} "></script>
          <script src=" {% static 'scripts/chat.js' %} "></script>
          {% comment %} >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> {% endcomment %}
        
            <!-- jQuery (Necessary for All JavaScript Plugins) -->
            <script src=" {% static 'js/jquery/jquery-2.2.4.min.js' %} "></script>
            <!-- Popper js -->
            <script src=" {% static 'js/popper.min.js' %} "></script>
            <!-- Bootstrap js -->
            <script src=" {% static 'js/bootstrap.min.js' %} "></script>
            <!-- Plugins js -->
            <script src=" {% static 'js/plugins.js' %} "></script>
            <!-- Active js -->
            <script src=" {% static 'js/active.js' %} "></script>
            <script>
                var setdate = document.querySelector(".set_date");
                var settime = document.querySelector(".set_time");
            
                var date = new Date().toDateString();
                setdate.innerHTML = date;
            
            
                setInterval(function () {
                  var time = new Date().toLocaleTimeString();
                  settime.innerHTML = time;
                }, 500);
                var win = navigator.platform.indexOf('Win') > -1;
                if (win && document.querySelector('#sidenav-scrollbar')) {
                  var options = {
                    damping: '0.5'
                  }
                  Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
                }
                function add_sub(id) {
                  $.ajax({
                    url: 'add_sub',
                    data: {
                      'subcode': id
                    }, success: function (data) {
                      location.reload();
                    }
                  });
                }
                function rm_sub(id) {
                  $.ajax({
                    url: 'rm_sub',
                    data: {
                      'subcode': id
                    }, success: function (data) {
                      location.reload();
                    }
                  });
                }
              </script>
<!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src=" {% static 'js/jquery/jquery-2.2.4.min.js' %} "></script>
    <!-- Popper js -->
    <script src=" {% static 'js/bootstrap/popper.min.js' %} "></script>
    <!-- Bootstrap js -->
    <script src=" {% static 'js/bootstrap/bootstrap.min.js' %} "></script>
    <!-- All Plugins js -->
    <script src=" {% static 'js/plugins/plugins.js' %} "></script>
    <!-- Active js -->
    <script src=" {% static 'js/active.js' %} "></script>
</body>

</html>