<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Nocode</title>

    <!-- Favicon -->
    <link rel="icon" href=" {% static 'img/core-img/favicon.ico' %} ">

    <!-- Stylesheet -->
    <link rel="stylesheet" href=" {% static 'style.css' %} ">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

   

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url( {% static 'img/bg-img/8.jpg' %} );">
        <div class="container-fluid h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Services</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Services Catagory Area Start ##### -->
    <div class="services-catagory-area d-flex flex-wrap" style="display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;">
        <!-- Single Service Catagory -->
        <div class="single-service-cata bg-img d-flex align-items-center justify-content-center jarallax" style="background-image: url( {% static 'img/bg-img/19.jpg' %} );">
            <a href="#">NoCode Webdevelopment</a>
        </div>
        <!-- Single Service Catagory -->
        <div class="single-service-cata bg-img d-flex align-items-center justify-content-center jarallax" style="background-image: url( {% static 'img/bg-img/20.jpg' %} );">
            <a href="#">Artificial <br> Inteligence</a>
        </div>
        <!-- Single Service Catagory -->
        <div class="single-service-cata bg-img d-flex align-items-center justify-content-center jarallax" style="background-image: url( {% static 'img/bg-img/21.jpg' %} );">
            <a href="#">User <br> Experience</a>
        </div>
    </div>
    <!-- ##### Services Catagory Area End ##### -->

    <!-- ##### Services Block Area Start ##### -->
    <section class="services-block-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Single Service Block -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-block mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <h4>vision</h4>
                        <p>No-code development vision: Empower individuals to create software without coding, democratize access to technology, drive innovation, and foster collaboration for faster and more flexible application development.</p>
                    </div>
                </div>
                <!-- Single Service Block -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-block mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <h4>future</h4>
                        <p>No-code development's future is bright. Adoption will rise, platforms will advance, and collaboration will be emphasized. It will integrate with coding, focus on specific domains, and offer automation. Mobile app development will be simplified, and training will improve. In summary, no-code development will democratize software creation.</p>
                    </div>
                </div>
                <!-- Single Service Block -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-block mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <h4>intelligence</h4>
                        <p>No-code development simplifies software creation for non-coders using pre-built components and visual interfaces. It incorporates intelligence through automation and AI/ML features but has limitations for complex applications.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Services Block Area End ##### -->

    <!-- ##### Prices Area Start ##### -->
    <section class="pixel-prices-area d-flex flex-wrap section-padding-100" style="    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;" >

        <!-- Single Price Table Area -->
        <div class="single-price-table-area mb-100">
            <div class="price-value">
                <h2><span>9</span><span>/ month</span></h2>
            </div>
            <h2>Bronze Pack</h2>
            <p>Lorem ipsum dolor sit amet, consect- etur adipiscing elit. Ut rutrum quis sem sed pharetra.</p>
            <ul class="price-desc">
                <li><img src=" {% static 'img/core-img/correct.png' %} " alt=""> Available Feature #1</li>
                <li><img src=" {% static 'img/core-img/correct.png' %} " alt=""> Available Feature #2</li>
                <li><img src=" {% static 'img/core-img/correct.png' %} " alt=""> Available Feature #3</li>
                <li><img src=" {% static 'img/core-img/caution.png' %} " alt=""> Available Feature #4</li>
                <li><img src=" {% static 'img/core-img/correct.png' %} " alt=""> Available Feature #5</li>
            </ul>
            <a href="#" class="btn pixel-btn">view project</a>
        </div>

        <!-- Single Price Table Area -->
        <div class="single-price-table-area mb-100">
            <div class="price-value">
                <h2><span>19</span><span>/ month</span></h2>
            </div>
            <h2>Silver Pack</h2>
            <p>Lorem ipsum dolor sit amet, consect- etur adipiscing elit. Ut rutrum quis sem sed pharetra.</p>
            <ul class="price-desc">
                <li><img src=" {% static 'img/core-img/correct.png' %} " alt=""> Available Feature #1</li>
                <li><img src=" {% static 'img/core-img/correct.png' %} " alt=""> Available Feature #2</li>
                <li><img src=" {% static 'img/core-img/correct.png' %} " alt=""> Available Feature #3</li>
                <li><img src=" {% static 'img/core-img/caution.png' %} " alt=""> Available Feature #4</li>
                <li><img src=" {% static 'img/core-img/correct.png' %} " alt=""> Available Feature #5</li>
            </ul>
            <a href="#" class="btn pixel-btn">view project</a>
        </div>

        <!-- Single Price Table Area -->
        <div class="single-price-table-area active mb-100">
            <div class="price-value">
                <h2><span>29</span><span>/ month</span></h2>
            </div>
            <h2>Gold Pack</h2>
            <p>Lorem ipsum dolor sit amet, consect- etur adipiscing elit. Ut rutrum quis sem sed pharetra.</p>
            <ul class="price-desc">
                <li><img src=" {% static 'img/core-img/correct.png' %} " alt=""> Available Feature #1</li>
                <li><img src=" {% static 'img/core-img/correct.png' %} " alt=""> Available Feature #2</li>
                <li><img src=" {% static 'img/core-img/correct.png' %} " alt=""> Available Feature #3</li>
                <li><img src=" {% static 'img/core-img/caution.png' %} " alt=""> Available Feature #4</li>
                <li><img src=" {% static 'img/core-img/correct.png' %} " alt=""> Available Feature #5</li>
            </ul>
            <a href="#" class="btn pixel-btn">view project</a>
        </div>

        <!-- Single Price Table Area -->
        <div class="single-price-table-area mb-100">
            <div class="price-value">
                <h2><span>39</span><span>/ month</span></h2>
            </div>
            <h2>Platinum Pack</h2>
            <p>Lorem ipsum dolor sit amet, consect- etur adipiscing elit. Ut rutrum quis sem sed pharetra.</p>
            <ul class="price-desc">
                <li><img src=" {% static 'img/core-img/correct.png' %} " alt=""> Available Feature #1</li>
                <li><img src=" {% static 'img/core-img/correct.png' %} " alt=""> Available Feature #2</li>
                <li><img src=" {% static 'img/core-img/correct.png' %} " alt=""> Available Feature #3</li>
                <li><img src=" {% static 'img/core-img/caution.png' %} " alt=""> Available Feature #4</li>
                <li><img src=" {% static 'img/core-img/correct.png' %} " alt=""> Available Feature #5</li>
            </ul>
            <a href="#" class="btn pixel-btn">view project</a>
        </div>

    </section>
    <!-- ##### Prices Area End ##### -->

    <!-- ##### Service Area Start ##### -->
    <section class="pixel-service-area">
        <div class="container">
            <div class="row">
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <img src=" {% static 'img/core-img/cursor.png' %} " alt="">
                        <h5>Light Weight &amp; Fast</h5>
                        <p>Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et.</p>
                        <a href="#" class="btn">More Info</a>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="200ms">
                        <img src=" {% static 'img/core-img/monitor.png' %} " alt="">
                        <h5>Responsive &amp; Retina Ready</h5>
                        <p>Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et.</p>
                        <a href="#" class="btn">More Info</a>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <img src=" {% static 'img/core-img/presentation.png' %} " alt="">
                        <h5>Documentation</h5>
                        <p>Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et.</p>
                        <a href="#" class="btn">More Info</a>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <img src=" {% static 'img/core-img/settings.png' %} " alt="">
                        <h5>Customizable</h5>
                        <p>Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et.</p>
                        <a href="#" class="btn">More Info</a>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <img src=" {% static 'img/core-img/cursor.png' %} " alt="">
                        <h5>Light Weight &amp; Fast</h5>
                        <p>Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et.</p>
                        <a href="#" class="btn">More Info</a>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="200ms">
                        <img src=" {% static 'img/core-img/monitor.png' %} " alt="">
                        <h5>Responsive &amp; Retina Ready</h5>
                        <p>Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et.</p>
                        <a href="#" class="btn">More Info</a>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <img src=" {% static 'img/core-img/presentation.png' %} " alt="">
                        <h5>Documentation</h5>
                        <p>Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et.</p>
                        <a href="#" class="btn">More Info</a>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <img src=" {% static 'img/core-img/settings.png' %} " alt="">
                        <h5>Customizable</h5>
                        <p>Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et.</p>
                        <a href="#" class="btn">More Info</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Service Area End ##### -->
    {% endblock %}