
<link href=
"https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
          rel="stylesheet">

<!-- Jumbotron -->
<div
  class="relative overflow-hidden bg-cover bg-no-repeat p-12 text-center"
  style="background-image: url('https://i.kinja-img.com/gawker-media/image/upload/t_original/badfsqoe2vbib30u4fir.gif'); height: 100%">
  <div
    class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="flex h-full items-center justify-center">
        <div style="margin: 0 auto; margin-top: 30px; width: 600px; background-color: rgba(255, 255, 255, 0.5); backdrop-filter: blur(8px); padding: 20px; height: 500px; overflow-y: auto;">
            <h1 style="text-align: center;">Get Solution</h1>
            <form method="post">
                {% csrf_token %}
                <label for="question">Enter a question:</label><br>
                <input type="text" id="question" name="question" class="w-full px-4 py-2 border border-gray-300 rounded-lg mb-4" placeholder="Enter a question"><br>
                <input type="submit" value="Get Example Code" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 cursor-pointer">
            </form>
            <div>
                {% if question %}
                <h2>Question:</h2>
                <p>{{ question }}</p>
                {% endif %}
                
                {% if link_s %}
                <h2>Error Solution :</h2>
                {% endif %}
                
                {% if code_s %}
                <div>{{ code_s|safe }}</div>
                {% endif %}
                
                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}
                
                {% if question %}
                <h2>Question:</h2>
                <p>{{ question }}</p>
                {% endif %}
                
                {% if link_gfg %}
                {% endif %}
                
                {% if code_gfg %}
                <div>{{ code_gfg|safe }}</div>
                {% endif %}
                
                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    
</div>
